.hexagonal-section{
    display: grid;
    align-items: center;
    justify-items: center;
}
ul.first {
    transform: translateX(-50px);
    list-style-type: none;
    margin-bottom: -45px;
}
ul.even {
        list-style-type: none;
        margin-bottom: -56px;
        transform: translateY(-46px) translateX(-50px);
}

.icon {
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 95px;
    background-color: rgba(253, 76, 92, 0.15);
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 26px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transform: scale(1);
}
.icon:hover{
    background-color: rgba(253, 76, 92);
}